.hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 200px;
}

.content-text {
    display: flex;
    flex-direction: column;
    justify-content: start;
    position: relative;

    h4 {
        color: $red;
        font-weight: 700;
        font-size: 20px;
        line-height: 30px;
        margin-bottom: 24px;
        font-family: $secondary-font;
    }
    
    h1 {
        font-weight: 700;
        font-size: 84px;
        line-height: 90px;
        color: $dark-blue;
        font-family: $secondary-font;
        margin-bottom: 30px;
        width: 60%;
    }
    
    img {
        position: absolute;
        width: 385px;
        height: 12px;
        top: 120px;
        left: 265px;
        z-index: -2;
    }

    p {
        color: $violet;
        font-weight: 400;
        font-size: 16px;
        line-height: 30px;
        margin-bottom: 34px;
        width: 60%;
    }

    .action-buttons {
        display: flex;
        column-gap: 44px;
        align-items: center;
        justify-content: start;


        .primary {
            padding: 18px 26px;
            background-color: $orange;
            color: $white;
            border-radius: 10px;
            font-weight: 500;
            font-size: 18px;
            line-height: 22px;
            text-align: center;
            border: none;
        }
        
        .regular {
            display: flex;
            column-gap: 20px;
            align-items: center;
            justify-content: center;
            color: $gray;
            font-size: 17px;
            line-height: 25px;
            background-color: transparent;
            border: none;

            .play-button {
                width: 50px;
                height: 50px;
                border-radius: 50%;
                background-color: $red;
                border: none;
                display: flex;
                align-items: center;
                justify-content: center;
                z-index: -3;
                
                img {
                    width: 15px;
                    height: 15px;
                    background-color: white;
                    z-index: 100;
                }
            }
        }
    }
}

.content-img {
    position: relative;

    img {
        position: absolute;

        &:first-of-type {
            transform: rotate(-20.89deg);
            width: 128px;
            height: 70px;
            top: -260px;
            left: -400px;
        }

        &:nth-of-type(2) {
            width: 765px;
            height: 764px;
            top: -365px;
            left: -550px;    
        }

        &:last-of-type {
            transform: rotate(-10.16deg);
            width: 137px;
            height: 95px;
            top: -210px;
            right: -230px;
        }
    }
}